doctype html
html(lang='en')
  head
    title FeedLearn
    meta(name='viewport' content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
    link(href='index.css' rel='stylesheet')
    link(href='bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
    link(href='bower_components/bootstrap/dist/css/bootstrap-theme.min.css' rel='stylesheet')
  body
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/jadeDom/jquery.jadedom.js')
    script(src='bower_components/underscore/underscore.js')
    script(src='bower_components/prelude-browser-min/index.js')
    script(src='bower_components/jquery-cookie/jquery.cookie.js')
    script(src='bower_components/async/lib/async.js')
    script(src='commonlib.js')
    script(src='flashcards.js')
    script(src='logging_client.js')
    script(src='index.js')
    //- audio(style='display: none' src='error.mp3')
    audio#speechsynth(style='display: none' src='error.mp3')
    .bluebackground(style='background-color: white')
      #quizpage.mainpage(style='display: none')
        div(style='padding-top: 12px; position: absolute')
          img(style='border-style: solid; border-width: 1px; border-color: grey' src='feedlearn-40px.png')
        //- #scorebox(style='position: absolute; right: 5px; border-radius: 10px; width: 50px; height: 50px; background-color: blue')
        //-  div(style='font-size: 12px') Score:
        //-  div 
        #questionmessage(style='font-size: 18px; text-align: center')
        #questionworddiv(style='font-size: 30px; text-align: center')
          span#questionword
          span#questionwordaudio.glyphicon.glyphicon-volume-up(onclick='playSoundCurrentWord()' style='cursor: pointer; margin-left: 10px; margin-top: -7px; vertical-align: middle; font-size: 30px')
        #answeroptions
        button#showanswersbutton.btn.btn-primary(onclick='showAnswers()' style='font-size: 20px; margin-top: 15px; width: 48.5%; margin-right: 1%')
          span.glyphicon.glyphicon-question-sign(style='margin-right: 7px; font-size: 18px')
          span Show Answers
        button#optionbutton.btn.btn-primary(onclick='gotoOptionPage()' style='font-size: 20px; margin-top: 15px; width: 48.5%; margin-left: 1%')
          span.glyphicon.glyphicon-wrench(style='margin-right: 7px; font-size: 18px')
          span Options
      #optionpage.mainpage(style='display: none')
        div(style='overflow: hidden')
          span.glyphicon.glyphicon-wrench(style='margin-right: 7px; font-size: 18px')
          span(style='font-size: 26px') Options
          button.btn.btn-primary(onclick='gotoQuizPage()' style='font-size: 20px; float: right; width: 50%')
            span.glyphicon.glyphicon-backward(style='margin-right: 7px; font-size: 18px')
            span Back to Quiz
        div(style='margin-top: 20px')
          span(style='font-size: 20px; width: 50%') Your Full Name:
          input#fullnameinput.form-control(onkeyup='changeFullName()' style='width: auto; display; font-size: 20px; float: right; width: 50%')
        div(style='margin-top: 20px')
          span(style='font-size: 20px; width: 50%') Currently Studying:
          select#langselect.form-control(onchange='changeLang()' style='width: auto; display; font-size: 20px; float: right; width: 50%')
            option japanese1
            option japanese2
            option japanese3
            option chinese1
            option korean1
            option vietnamese1
        div(style='margin-top: 20px')
          span(style='font-size: 20px; width: 50%') Display Romanizations:
          select#scriptselect.form-control(onchange='changeScriptFormat()' style='width: auto; display; font-size: 20px; float: right; width: 50%')
            option show romanized only
            option show both scripts
        div(style='margin-top: 20px')
          span(style='font-size: 20px; width: 50%') Feed Insertion Format:
          select#formatselect.form-control(onchange='changeFeedInsertionFormat()' style='width: auto; display; font-size: 20px; float: right; width: 50%')
            option interactive
            option link
            option none
      #chatpage.mainpage(style='display: none')
        div(style='overflow: hidden')
          span.glyphicon.glyphicon-question-sign(style='margin-right: 7px; font-size: 18px')
          span(style='font-size: 26px') Answer + Discuss
          button.btn.btn-primary(onclick='gotoQuizPage()' style='font-size: 20px; float: right; width: 50%')
            span.glyphicon.glyphicon-backward(style='margin-right: 7px; font-size: 18px')
            span Back to Quiz
        #currentanswer(style='font-size: 30px; text-align: center; margin-top: 20px')
        div(style='margin-top: 20px') TODO discussion forum goes here
