doctype html
html(lang='en')
  head
    title FeedLearn
    meta(name='viewport' content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
    link(href='index.css' rel='stylesheet')
    link(href='bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
    link(href='bower_components/bootstrap/dist/css/bootstrap-theme.min.css' rel='stylesheet')
  body
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/jadeDom/jquery.jadedom.js')
    script(src='bower_components/underscore/underscore.js')
    script(src='bower_components/prelude-browser-min/index.js')
    script(src='bower_components/jquery-cookie/jquery.cookie.js')
    script(src='bower_components/async/lib/async.js')
    script(src='bower_components/moment/moment.js')
    script(src='commonlib.js')
    script(src='logging_client.js')
    script(src='study1.js')

    #fb-root
    #fbloginpage(style='margin-left: 170px; margin-top: 10px')
      img(src='feedlearn-128px.png' style='position: absolute; left: 10px')
      h1 FeedLearn
      h3 A tool that teaches you Japanese by showing quizzes in your Facebook feed
      img(src='feedlearn-screenshot.png' style='border-radius: 15px')
      h3 Study Japanese with FeedLearn!
      div If you would like to try FeedLearn, you can join our user study right now!
      //- div FeedLearn is a Chrome extension, so you must be using the Chrome browser. FeedLearn does not post to your wall or access any private data.
      div The user study is 3 weeks long. You will learn 50 Japanese words and take a vocabulary quiz each week. You can opt-out anytime.
      div To install FeedLearn and participate in the user study, please login below using Facebook (we do not post to your wall).
      div(style='padding-bottom: 10px')
      div.fb-login-button#fbloginbutton(data-max-rows='1' data-size='xlarge' data-show-faces='false' data-auto-logout-link='false' scope="public_profile,email" onlogin='fbButtonOnlogin()')
      div(style='padding-bottom: 10px')
      h3 Study Description
      div This is a research study about seeing whether we can help you learn Japanese vocabulary while browsing your Facebook news stream.
      div You will first install our Chrome extension, FeedLearn. This extension will show you vocabulary flashcards while you view your Facebook news feed.
      div The study lasts for 3 weeks. You can opt out anytime.
      div On each week, you will take a vocabulary test on the 50 new words you will be studying.
      div You will then study the words for a week, using one of 3 different approaches:
      div(style='margin-left: 10px') • One week, you will be shown vocabulary quizzes directly in your feed
      div(style='margin-left: 10px') • Another week, you will be shown links in your feed asking you to go to the FeedLearn site to do the quizzes.
      div(style='margin-left: 10px') • Another week, you will be sent daily email reminders to study Japanese on the FeedLearn site.
      div At the end of the week, you will take another vocabulary test to see what you have learned.
      div We do not access any of your private data or post anything on your Facebook wall.
      h3 Contact Information
      div If you have questions, ask 
        a(href='mailto:geza@cs.stanford.edu') Geza Kovacs

    #getfullname(style='margin-left: 10px; margin-top: 10px; display: none')
      div(style='font-size: 20px; margin-bottom: 10px') Welcome to the FeedLearn study! What is your name?
      input#fullnameinput.form-control(onkeyup='console.log(event.keyCode); if (event.keyCode == 13) document.getElementById("fullnamesubmitbutton").click()' style='width: 350px; display: inline-block; margin-right: 10px')
      button#fullnamesubmitbutton.btn.btn-primary(style='width: 100px' onclick='fullNameSubmitted()') Submit

    
    #accordion.panel-group(role='tablist' aria-multiselectable='true' style='display: none')


      .panel.panel-default
        #headingOne.panel-heading(role='tab')
          h4.panel-title
            a(data-toggle='collapse' data-parent='#accordion' href='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
              span#consentcheck.glyphicon.glyphicon-ok(style='visibility: hidden; margin-right: 7px')
              span Welcome to the FeedLearn study
              span#fullnamedisplay 
              span ! Please read the study desciption
        #collapseOne.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingOne')
          .panel-body
            h4 Study Description
            div This is a research study about seeing whether we can help you learn Japanese vocabulary while browsing your Facebook news stream.
            div You will first install our Chrome extension, FeedLearn. This extension will show you vocabulary flashcards while you view your Facebook news feed.
            div The study lasts for 3 weeks. You can opt out anytime.
            div On each week, you will take a vocabulary test on the 50 new words you will be studying.
            div You will then study the words for a week, using one of 3 different approaches:
            div(style='margin-left: 10px') • One week, you will be shown vocabulary quizzes directly in your feed
            div(style='margin-left: 10px') • Another week, you will be shown links in your feed asking you to go to the FeedLearn site to do the quizzes.
            div(style='margin-left: 10px') • Another week, you will be sent daily email reminders to study Japanese on the FeedLearn site.
            div At the end of the week, you will take another vocabulary test to see what you have learned.
            div We do not access any of your private data or post anything on your Facebook wall.
            h4 Contact Information
            div If you have questions, ask 
              a(href='mailto:geza@cs.stanford.edu') Geza Kovacs
            br
            #consentdisplay
            button#consentbutton.btn.btn-lg.btn-primary(onclick='consentAgreed()') I agree to these conditions


      .panel.panel-default
        #headingThree.panel-heading(role='tab')
          h4.panel-title
            a(data-toggle='collapse' data-parent='#accordion' href='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
              span#extensioninstalledcheck.glyphicon.glyphicon-ok(style='visibility: hidden; margin-right: 7px')
              span Install the FeedLearn Chrome Extension
        #collapseThree.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingThree')
          .panel-body
            p Please now install the FeedLearn Chrome extension, which will inject vocabulary into your Facebook feed. Please do not uninstall it until the conclusion of this study.
            #extensioninstalleddisplay The FeedLearn extension has not yet been installed. If you just installed it, please refresh this page.
            button#extensioninstallbutton.btn.btn-lg.btn-primary(onclick='installChromeExtension()') Install FeedLearn Chrome Extension


      .panel.panel-default
        #headingTwo.panel-heading(role='tab')
          h4.panel-title
            a(data-toggle='collapse' data-parent='#accordion' href='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
              span#posttest1check.glyphicon.glyphicon-ok(style='visibility: hidden; margin-right: 7px')
              span Study Week 1 Vocabulary
        #collapseTwo.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingTwo')
          .panel-body
            h4 Pre-Test for Week 1 Vocabulary
            p Please follow this link to take a vocab test on the 50 words you will be studying over week 1. We don't expect you to know any Japanese beforehand, so don't worry if you don't know any of these words.
            #pretest1donedisplay
            button#pretest1button.btn.btn-lg.btn-primary(onclick='openPretest1()') Take the pre-test for Week 1 Vocabulary
            div(style='height: 30px')
            h4 Study Week 1 Vocabulary
            #week1desc WEEK1
            div(style='height: 30px')
            h4 Post-Test for Week 1 Vocabulary
            div#week1posttesttime Please wait until 7 days have passed, then:
            div Follow this link to take a vocabulary test on the 50 words you studied during week 1.
            br
            #posttest1donedisplay
            button#posttest1button.btn.btn-lg.btn-primary(onclick='openPosttest1()') Take the post-test for Week 1 Vocabulary


      //-.panel.panel-default
        #headingFour.panel-heading(role='tab')
          h4.panel-title
            a(data-toggle='collapse' data-parent='#accordion' href='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
              span#startweek1check.glyphicon.glyphicon-ok(style='visibility: hidden; margin-right: 7px')
              span Study First Week Vocabulary (for 7 days)
        #collapseFour.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingThree')
          .panel-body
            p#week1desc WEEK1
            //- p Click the button below to automatically configure the chrome extension and start the Week 1 study period (7 days). We will email you afer 7 days when it is time for you to take the vocabulary test.
            //- #startweek1donedisplay
            //- button#startweek1button.btn.btn-lg.btn-primary(onclick='startWeek1()') Start Week 1 Study Period


      //- .panel.panel-default
        #headingFive.panel-heading(role='tab')
          h4.panel-title
            a(data-toggle='collapse' data-parent='#accordion' href='#collapseFive' aria-expanded='false' aria-controls='collapseFive')
              span#posttest1check.glyphicon.glyphicon-ok(style='visibility: hidden; margin-right: 7px')
              span Post-Test for Week 1 Vocabulary
        #collapseFive.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingFive')
          .panel-body
            p Please follow this link to take a vocabulary test on the 50 words you studied during week 1.
            #posttest1donedisplay
            button#posttest1button.btn.btn-lg.btn-primary(onclick='openPosttest1()') Take the post-test for Week 1 Japanese Vocabulary


      .panel.panel-default
        #headingSix.panel-heading(role='tab')
          h4.panel-title
            a(data-toggle='collapse' data-parent='#accordion' href='#collapseSix' aria-expanded='false' aria-controls='collapseSix')
              span#posttest2check.glyphicon.glyphicon-ok(style='visibility: hidden; margin-right: 7px')
              span Study Week 2 Vocabulary
        #collapseSix.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingSix')
          .panel-body
            h4 Pre-Test for Week 2 Vocabulary
            p Please follow this link to take a vocab test on the 50 words you will be studying over week 2. We don't expect you to know any Japanese beforehand, so don't worry if you don't know any of these words.
            #pretest2donedisplay
            button#pretest2button.btn.btn-lg.btn-primary(onclick='openPretest2()') Take the pre-test for Week 2 Vocabulary
            div(style='height: 30px')
            h4 Study Week 2 Vocbulary
            #week2desc WEEK2
            div(style='height: 30px')
            h4 Post-Test for Week 2 Vocbulary
            div#week2posttesttime Please wait until 7 days have passed, then:
            div Follow this link to take a vocabulary test on the 50 words you studied during week 2.
            br
            #posttest2donedisplay
            button#posttest2button.btn.btn-lg.btn-primary(onclick='openPosttest2()') Take the post-test for Week 2 Vocabulary


      //-.panel.panel-default
        #headingSeven.panel-heading(role='tab')
          h4.panel-title
            a(data-toggle='collapse' data-parent='#accordion' href='#collapseSeven' aria-expanded='false' aria-controls='collapseSeven')
              span#startweek2check.glyphicon.glyphicon-ok(style='visibility: hidden; margin-right: 7px')
              span Study Second Week Vocabulary (for 7 days)
        #collapseSeven.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingSeven')
          .panel-body
            p#week2desc WEEK2
            //- p Click the button below to automatically configure the chrome extension and start the Week 2 study period (7 days). We will email you afer 7 days when it is time for you to take the vocabulary test.
            //- #startweek2donedisplay
            //- button#startweek2button.btn.btn-lg.btn-primary(onclick='startWeek2()') Start Week 2 Study Period


      //- .panel.panel-default
        #headingEight.panel-heading(role='tab')
          h4.panel-title
            a(data-toggle='collapse' data-parent='#accordion' href='#collapseEight' aria-expanded='false' aria-controls='collapseEight')
              span#posttest2check.glyphicon.glyphicon-ok(style='visibility: hidden; margin-right: 7px')
              span Post-Test for Week 2 Vocabulary
        #collapseEight.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingEight')
          .panel-body
            p Please follow this link to take a vocabulary test on the 50 words you studied during week 2.
            #posttest2donedisplay
            button#posttest2button.btn.btn-lg.btn-primary(onclick='openPosttest2()') Take the post-test for Week 2 Japanese Vocabulary


      .panel.panel-default
        #headingNine.panel-heading(role='tab')
          h4.panel-title
            a(data-toggle='collapse' data-parent='#accordion' href='#collapseNine' aria-expanded='false' aria-controls='collapseNine')
              span#pretest3check.glyphicon.glyphicon-ok(style='visibility: hidden; margin-right: 7px')
              span Study Week 3 Vocabulary
        #collapseNine.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingNine')
          .panel-body
            h4 Pre-Test for Week 3 Vocabulary
            p Please follow this link to take a vocab test on the 50 words you will be studying over week 3. We don't expect you to know any Japanese beforehand, so don't worry if you don't know any of these words.
            #pretest3donedisplay
            button#pretest3button.btn.btn-lg.btn-primary(onclick='openPretest3()') Take the pre-test for Week 3 Japanese Vocabulary
            div(style='height: 30px')
            h4 Study Week 3 Vocabulary
            #week3desc WEEK3
            div(style='height: 30px')
            h4 Post-Test for Week 3 Vocbulary
            div#week3posttesttime Please wait until 7 days have passed, then:
            div Follow this link to take a vocabulary test on the 50 words you studied during week 3.
            br
            #posttest3donedisplay
            button#posttest3button.btn.btn-lg.btn-primary(onclick='openPosttest3()') Take the post-test for Week 3 Vocabulary


      //-.panel.panel-default
        #headingTen.panel-heading(role='tab')
          h4.panel-title
            a(data-toggle='collapse' data-parent='#accordion' href='#collapseTen' aria-expanded='false' aria-controls='collapseTen')
              span#startweek3check.glyphicon.glyphicon-ok(style='visibility: hidden; margin-right: 7px')
              span Study Third Week Vocabulary (for 7 days)
        #collapseTen.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingTen')
          .panel-body
            p#week3desc WEEK3
            //- p Click the button below to automatically configure the chrome extension and start the Week 3 study period (7 days). We will email you afer 7 days when it is time for you to take the vocabulary test.
            //- #startweek3donedisplay
            //- button#startweek3button.btn.btn-lg.btn-primary(onclick='startWeek3()') Start Week 3 Study Period


      //- .panel.panel-default
        #headingEleven.panel-heading(role='tab')
          h4.panel-title
            a(data-toggle='collapse' data-parent='#accordion' href='#collapseEleven' aria-expanded='false' aria-controls='collapseEleven')
              span#posttest3check.glyphicon.glyphicon-ok(style='visibility: hidden; margin-right: 7px')
              span Post-test for Week 3 Vocabulary
        #collapseEleven.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingEleven')
          .panel-body
            p Please follow this link to take a vocabulary test on the 50 words you studied during week 3.
            #posttest3donedisplay
            button#posttest3button.btn.btn-lg.btn-primary(onclick='openPosttest3()') Take the post-test for Week 3 Japanese Vocabulary

